* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  text-transform: capitalize;
}

body {
  background: #f6f7fb;
  display: flex;
  justify-content: center;
  padding: 2em;
}

aside {
  position: fixed;
  top: 1em;
  right: 1em;
}

aside nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

#logout {
  background: #ff4d4d;
  color: white;
  border-radius: 0.3em;
  padding: 0.5em;
}

main {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

main hr {
  border: none;
  height: 3px;
  background: #ddd;
}

section.todo-card {
  background: white;
  border-radius: 0.3em;
  padding: 1.2em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

input {
  border: none;
  outline: none;
  font-size: 1em;
  background: transparent;
}

input::placeholder {
  color: #aaa;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

input.status:checked + input.task-title {
  text-decoration: line-through;
  color: #aaa;
}

.todo-title {
  font-size: 1.7em;
  font-weight: 600;
}

.task-title {
  font-size: 1.2em;
}

.task-name {
  font-size: 1.2em;
  padding-left: 1.5em;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

article.task-card {
  display: flex;
  align-items: center;
  gap: 0.6em;
  padding: 0.4em 0.5em;
  border-radius: 6px;
  transition: background 0.2s ease;
  position: relative;
}

article.task-card:hover {
  background: #f2f3f7;
}

article.task-card:hover .delete,section>header:hover .delete {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 0.9em;
}

button:hover {
  transform: scale(1.1);
}

.delete {
  position: absolute;
  right: 0.5em;
  opacity: 0;
  transform: translateX(10px);
  pointer-events: none;
  transition: all 0.5s ease;
}

header{
  display: flex;
  align-items: center;
}

input[readonly] {
  cursor: pointer;
  user-select: none;
}

input:not([readonly]) {
  cursor: text;
  user-select: text;
}